

/*
Author: Bootstrapthemes
Author URI: http://www.xpeedstudio.com
*/

/* Portrait tablets and medium desktops */
@media (min-width: 100px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }





}



/* Portrait tablets and small desktops */
/*@media (max-width: 992px) {

}*/


/* Portrait tablets and small desktops */
@media (max-width: 991px) {

    .sm-text-center{
        text-align: center !important;
    }
    .sm-pull-none{
        float: none !important;
    }
    .sm-m-top-10{
        margin-top:10px;
    }
    .sm-m-top-20{
        margin-top:20px;
    }
    .sm-m-top-30{
        margin-top:30px;
    }
    .sm-m-top-40{
        margin-top:40px;
    }
    .sm-m-top-50{
        margin-top:50px;
    }
    .item_img i{
        right:0%;
    }

    .divider_horizontal,
    .divider_vertical{
        display: none;
    }
    .main-portfolio .grid-item {
        position: relative;
        margin: 5px;
        width:350px;
        overflow: hidden;
    }


}



/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    h2{
        font-size:2rem;
    }
    p{
        font-size:90%;
        line-height: 2rem;
    }
    .xs-pull-none{
        float: none !important;
    }
    .xs-text-center{
        text-align: center !important;
    }
    .xs-m-top-10{
        margin-top:10px;
    }
    .xs-m-top-30{
        margin-top:30px;
    }
    .xs-m-bottom-10{
        margin-bottom:10px;
    }
    .xs-m-bottom-20{
        margin-bottom:20px;
    }

    .main_product .carousel-control{
        display: none;
    }
	
	.home_text h1{

	width: 100%;
     height: auto;
	}
	


}





/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 85%;
    }

    video {
           width: 100%;
           height: auto;
          }
	.home_text h1{

	width: 100%;
     height: auto;
	}

}





@media (max-width: 400px) {

.home_text h1{

	width: 100%;
     height: auto;
	}
}

@media (max-width: 320px) {
    html {
        font-size: 60.5%;
    }
	
	.home_text h1{

	width: 100%;
     height: auto;
	}

@media (max-width:320px ){

    ..home_text h1{

	width: 100%;
     height: auto;
	}
	
@media only screen and (min-width:150px) and (max-width:600px){	

	.home_text h1{

	width: 100%;
     height: auto;
	}

}



